<!--
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="BDDFramework" >
	
		<parameter name="browser" value="firefox" />
		<parameter name="platform" value="windows 10" />
		<parameter name="version" value="latest" />
	
	
 <test name="Sauce1" thread-count="1" parallel="methods"> 

		<classes>

	<class name="test.TestBaseSetup"> 
			<class name="test.HomePageTests">
				<methods>
					<include name="validateAnchorBraceletInStore" />
				</methods>
			</class>
			
			<class name="test.ContactPageTests">
				<methods>
					<include name="validateContactPageEmail" />
				</methods>
			</class>
			
		</classes>
	</test> 
</suite>  Suite1 
-->
