<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="ToolsQA_TestSuite" parallel="classes">
	<test thread-count="5" name="test" parallel="classes">

		<classes>
		
		  
			<class name="test.TextBox_Tests">
				<methods>
					<include name="TB1" />
					<include name="TB2" />

				</methods>
			</class>

			
			<class name="test.Alerts_Tests">
				<methods>
					<include name="AL1" />
					<include name="AL2" />
				</methods>
			</class>
			
			 
			
			<class name="test.Browser_Tests">
				<methods>
					<include name="BW1" />

				</methods>
			</class>
			
			
		</classes>






	</test> <!-- Test1 -->
</suite> <!-- Suite1 -->
