<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="ToolsQA_TestSuite" parallel="classes">
	<test thread-count="4" name="test" parallel="classes">
		
		<!-- Test classes run in parallel -->
		<classes>

			<class name="test.TextBox_Tests">
				<methods>
					<include name="TB1" />
					<include name="TB2" />
				</methods>
			</class>

			<class name="test.Buttons_Tests">
				<methods>
					<include name="BT1" />
					<include name="BT2" />
				</methods>
			</class>

			<class name="test.Alerts_Tests">
				<methods>
					<include name="AL1" />
					<exclude name="AL2" />
					<include name="AL3" />
					<include name="AL4" />
				</methods>
			</class>

			<class name="test.Browser_Tests">
				<methods>
					<include name="BW1" />
				</methods>
			</class>

		</classes>

	</test> <!-- Test1 -->
</suite> <!-- Suite1 -->
